html, body {
 margin: 0;
 padding: 0;
 cursor: url(../img/big_curseur.png), pointer;
 }
body{
  background-color: #8d8363;
  font-family: Arial, sans-serif;
}

#myBoard{
  width: 45%;
  margin-left: 8%;
  margin-top: 2%;
  position: absolute;
  left: 13%;
  border: #fff7dd;
  z-index: 1;
}

#menu{
  width: 13%;
  height: 98%;
  background-color: #fff7dd;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 10px;
  border: 2px solid;
  text-align: center;
}

#menu li{
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  list-style-type: none;
  padding: 20px;
  width: 28%;
  height: 1%;
  margin: auto;
  margin-top: 20px;
  vertical-align: middle;
  background-color: #8d8363/*#ECD0A6*/;

  text-align: center;
  vertical-align: middle;
  line-height: 2%;
  /*display: inline-block;  Pour deux boutons côte à côte*/
}
#menu li:hover {
  box-shadow: 2px 2px 4px #444;
  background-color: #E9C081;
}
#menu img{
  width: 100%;
  border: 1px solid black/*#E9C081*/;
  border-radius: 90px;
}
#credits{
  bottom: 20px;
  position: absolute;
  width: 90%;
  height: 25%;
}

#credits h3{
  width: 100%;
  height: 24%;
  font-size: 15px;
}

#credits img{
  width: 45%;
  height: 40%;
  display: inline-block;
  border-radius: 0px;
  border: none;
}

.parametre{
  position: absolute;
  top: 0px;
  right:  0px;
}
p #test{
  background-color: red;
  position: absolute;
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
