.toggle-control {
  		display: none;
  	}
  	input.toggle-control + label {
  		position :relative ;
  		display : block;
  		width: 14%;
  		height : 20px ;
  		background:  #ddd;
  		border-radius:  60px;
      float:left;

  		cursor: url(../img/big_curseur.png), pointer;
  		outline:none;
  		user-select: none;
  	}
  	input.toggle-control + label::before, input.toggle-control + label::after {
  		display: block;
  		position: absolute;
  		top: 1px;
  		left:1px;
  		bottom: 1px;
  		right: 1px;

  		content: '';
  		transition: all 0.4s;
  	}
  	input.toggle-control+label::before {
  		background: #f1f1f1;
  		border-radius:  60px;

  	}
  	input.toggle-control+label::after {
  		width: 18px;
  		background: #fff;
  		border-radius: 100%;
  		box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  	}
  	input.toggle-control:checked + label::before {
  		background: #8ce196;
  	}
  	input.toggle-control:checked + label::after {
  		margin-left: 18px;
  	}
    .setting {
     left: 10px ;
     position: relative;
     left: 5px;
     top :5px;
    }

    p.indice {
      font-size: 100%;
      left: 50px;
      position: relative;
    }
  div.winSetting{
    display: block;
    position: absolute;
    height: 21%;
    width: 21%;
    background: #fff;
    background-color: rgb(255,247,221);
    border:solid 3px;
    border-color: black;
    top: 3%;
    right: 8%;
    z-index: 2;
  }

.parametre input{
  background-color: #fff7dd;
  border: solid black;
  width: 60px;
  height: 60px;
  padding: 10px;
  cursor: url(../img/big_curseur.png), pointer;
}

#para2{
  border: solid black 5px;
  border-radius: 50px;
  background-color: #58E507;
}

.parametre{
  top: 3%;
  right: 1%;
}
